<div class="container">
    <h1>Welcome</h1>
    <h1>Car rental service</h1>
    <div class="text-center">
        <a href="auth/facebook" class="btn btn-primary">Login with Facebook</a>
    </div>
     <div class="text-center">
        <a href="auth/facebook" class="btn btn-danger">Login with Google</a>
    </div>
     <div class="text-center">
        <a href="auth/facebook" class="btn btn-success">Login with Email</a>
    </div>
    <h5 class="center">
        <a href="signup" class="btn btn-warning">Need an account ?</a>
    </h5>
    </div>
</div>